@import 'reset.css';

/* Global */
:root {
  --color-primary: var(--color-green);
  --color-primary-varient: var(--color-light-green);
  --color-text: var(--color-white);
  --color-etc: var(--color-black);
  --color-bg: var(--color-gray);
  --color-sub-text: var(--color-light-gray);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-green: #00ab6b;
  --color-light-green: #00eb95;
  --color-gray: #202224;
  --color-light-gray: #d3d3d3;

  /* border */
  --border-radius-primary: 8px;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-etc);
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

/* common */
.section {
  padding: 1rem;
  margin: 4rem 3rem 4rem 3rem;
  background-color: white;
  border-radius: var(--border-radius-primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Icon Style */
.icon--style {
  color: var(--color-primary);
}

.naver--logo {
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  text-align: center;
  background-color: #03c75a;
  color: var(--color-text);
}
.github--logo {
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  text-align: center;
  background-color: #181717;
  color: var(--color-text);
}

/* header */

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.header__nav--container {
  width: 25vw;
  min-width: 250px;
}
.header__nav {
  background-color: var(--color-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--border-radius-primary);
}

.header__menu {
  position: relative;
  text-align: center;
  border-radius: var(--border-radius-primary);
}

.header__menu::after {
  content: '';
  position: absolute;
  left: 2rem;
  bottom: 4px;
  height: 3px;
  width: calc(80%);
  background: var(--color-primary-varient);
  transform: scaleX(0);
  transition: transform 600ms ease;
  transform-origin: left;
}

.header__menu:hover::after {
  transform: scaleX(1);
}
.header__menu__item {
  font-size: 2rem;
  display: block;
  padding: 16px 32px;
  transition: all 150ms ease;
  color: var(--color-text);
}

.header__menu__item:hover {
  color: var(--color-primary-varient);
}

.header__contact {
  color: white;
  text-align: center;
  padding: 16px 32px;
}

.header__contact h3 {
  margin-bottom: 1rem;
}

.header__contact:hover {
  animation: vibration 400ms infinite;
}
@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}
.header--viewbox {
  position: relative;
  width: 100%;
  height: 100%;
  background: no-repeat url(/imgs/background.jpg);
  background-size: cover;
}

.header--viewbox::after {
  position: absolute;
  background-color: var(--color-bg);
  content: '';
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}

.header__intro {
  z-index: 3;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 16px 32px;
  border-radius: var(--border-radius-primary);
  min-width: 390px;
}

.header__intro > h1 {
  margin-bottom: 2rem;
  z-index: 2;
}

.header__intro--data {
  color: var(--color-sub-text);
  margin-top: 1rem;
  text-align: left;
}
.header__intro--head {
  font-size: 36px;
}

.dots--decoration {
  margin-left: 0.3rem;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  border-radius: 100%;
}

/* Main */
.division--box {
  width: 100%;
  height: 40px;
  background-color: var(--color-primary);
  opacity: 0.3;
}
#main--page {
  display: flex;
  width: 100%;
}
.main__profile {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: var(--border-radius-primary);
  margin-bottom: 1rem;
}

/* Index */

.main__index {
  height: 100vh;
  position: sticky;
  top: 3vh;
  width: 25vw;
  min-width: 250px;
}

.index__nav {
  margin-top: 20px;
  padding: 0 10px;
}

.index__nav--title {
  opacity: 0.6;
  font-size: 48px;
  margin-bottom: 1rem;
}
.index__nav--subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1rem;
}

.index__nav--box {
  padding: 8px 16px;
}

.index--description {
  margin-bottom: 6px;
}

.index__name {
  color: var(--color-sub-text);
}

/* Body Content */

#body__content {
  margin-left: 30px;
  width: 100%;
  background-color: #e9e9e8;
}
.body__title {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

.title--topic {
  margin-bottom: 0.5rem;
}
.title--description {
  margin-bottom: 1rem;
}
.major__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title--deco {
  margin-left: 1rem;
}
.title--decoration {
  color: gray;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.title--underline {
  width: 80%;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin: 0.7rem 0 1rem 0;
}
.title__header {
  color: var(--color-bg);
  font-size: 20px;
}

/* Body Content > skills */
.skills__logo {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  border-radius: var(--border-radius-primary);
  transition: all 250ms ease-in;
}
.skills__logo:hover {
  outline: 1px gold solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.skills__img {
  width: 70px;
  margin-right: 8px;
}

/* footer */

#contact {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 40px 10px;
}

.contact__period,
.contact__intro {
  margin-bottom: 1.5rem;
}
.contact__intro > strong {
  color: var(--color-primary);
}

.contact__info {
  text-align: center;
}

.contact__lists {
  border: 2px solid var(--color-text);
  width: 60vw;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: var(--border-radius-primary);
}
.contact__list {
  display: flex;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.contact__list > button {
  width: 3rem;
  text-align: center;
}

.contact__btn > i {
  transition: all 250ms ease;
}
.contact__btn:hover > i {
  transform: rotate(-30deg);
  color: var(--color-primary);
  opacity: 1;
}

.contact__list--metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.contact__list--metadata > a,
.contact__list--metadata > p {
  color: var(--color-sub-text);
}

.contact__title {
  margin: 0;
}

.contact--icon {
  font-size: 1.3rem;
  opacity: 0.6;
  background-color: var(--color-text);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  line-height: 36px;
}

/* copyright */
.copyright__banner {
  position: relative;
  padding: 20px;
  text-align: center;
}

.copyright__banner::after {
  content: '';
  background: rgb(178, 229, 210);
  background: rgb(178, 229, 210);
  background: linear-gradient(
    27deg,
    rgba(178, 229, 210, 1) 0%,
    rgba(27, 30, 38, 0.9635535307517085) 100%
  );
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.3;
}

/* arrow-btn */

.arrow-up {
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  font-size: 3rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-primary);
  z-index: 3;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

@media (max-width: 850px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .header__nav {
    height: 40vh;
  }
  .header__nav--container {
    width: 100%;
  }
  .header__contact {
    display: none;
  }
  .header__menu__item {
    font-size: 1.5rem;
    padding: 8px 16px;
  }

  .header__menu::after {
    left: 3.5rem;
  }

  .header__intro {
    transform: translate(-50%, -50%);
  }

  /* 본문 내용 */

  .skills__logo {
    text-align: center;
    flex-direction: column;
  }

  .skills__img {
    width: 50px;
  }

  .main__index {
    display: none;
  }
  .header__intro {
    min-width: 300px;
  }
}

@media (max-width: 550px) {
  #body__content {
    margin: 0.6rem;
  }
  .section {
    padding: 1.5rem 0;
  }
  .contact__lists {
    margin: 0 auto;
    width: 80vw;
  }
}

/* fade 효과 */
.fade-class {
  position: relative;
  left: 40px;
  opacity: 0;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}
.fade-in {
  left: 0px;
  opacity: 1;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}

.navIdx-focus {
  transition: all 300ms linear;
  color: var(--color-primary);
  font-weight: 600;
}
